name: CI

on:
  push:
  pull_request:
  release:
    types:
    - created

  workflow_dispatch:

jobs:
  build-ubuntu:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: robotraconteur ppa
      run: sudo add-apt-repository ppa:robotraconteur/ppa -y
    - name: apt update
      run: sudo apt-get update
    - name: apt
      run: sudo apt-get install build-essential uuid-dev libssl-dev libcmocka-dev python3-robotraconteur -y
    - name: cmake
      run: |
        mkdir -p build
        cd build
        cmake -DRUN_TINY_TESTS=ON ..
    - name: make
      working-directory: build
      run: make -j2
    - name: ctest
      working-directory: build
      run: ctest --output-on-failure
  build-windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v3
    - name: vcpkg build
      uses: johnwason/vcpkg-action@v6
      id: vcpkg
      with:
        pkgs: cmocka openssl
        triplet: x64-windows-static-md-release
        cache-key: vcpkg-windows-build
        token: ${{ github.token }}
        github-binarycache: true
    - name: python pip
      run: python -m pip install robotraconteur
    - uses: ilammy/msvc-dev-cmd@v1
    - name: cmake
      run: cmake -GNinja -B build -S . ${{ steps.vcpkg.outputs.vcpkg-cmake-config }} -DRUN_TINY_TESTS=ON
    - name: make
      working-directory: build
      run: cmake --build . --config Release
    - name: ctest
      working-directory: build
      run: ctest --output-on-failure
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: vcpkg build
      uses: johnwason/vcpkg-action@v6
      id: vcpkg
      with:
        triplet: arm64-osx
        pkgs: cmocka openssl
        cache-key: vcpkg-macos-build
        token: ${{ github.token }}
        github-binarycache: true
    - name: brew
      run: brew install ninja
    - name: python pip
      run: python -m pip install robotraconteur
    - name: cmake
      run: cmake -GNinja -B build -S . ${{ steps.vcpkg.outputs.vcpkg-cmake-config }} -DRUN_TINY_TESTS=ON
    - name: make
      working-directory: build
      run: cmake --build . --config Release
    - name: ctest
      working-directory: build
      run: ctest --output-on-failure
  clang-tidy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: apt update
      run: sudo apt-get update
    - name: apt
      run: sudo apt-get install build-essential uuid-dev libssl-dev libcmocka-dev -y
    - name: clang-tidy-14
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 14 all
    - name: cmake
      run: |
        mkdir -p build
        cd build
        cmake -DCMAKE_DISABLE_PRECOMPILE_HEADERS=ON -DCMAKE_C_CLANG_TIDY=clang-tidy-14 \
              -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=OFF ..
    - name: make
      working-directory: build
      run: make -j2 -k

  cppcheck:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - name: apt update
      run: sudo apt-get update
    - name: apt
      run: sudo apt-get install build-essential uuid-dev libssl-dev libcmocka-dev cppcheck  -y
    - name: cmake
      run: |
        mkdir -p build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Debug \
        -DCMAKE_DISABLE_PRECOMPILE_HEADERS=ON -DCMAKE_C_FLAGS="-DNDEBUG" \
        -DCMAKE_C_CPPCHECK="/usr/bin/cppcheck;--enable=warning;--inconclusive;--force;--inline-suppr;--error-exitcode=1;--std=c99;" \
        ..
    - name: make
      working-directory: build
      run: make -j2 -k

  pre-commit:
    runs-on: ubuntu-22.04
    env:
      SKIP: no-commit-to-branch
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - name: apt
      run: |
        sudo apt update
        sudo apt install -y dos2unix
    - uses: pre-commit/action@v3.0.1
